# Operators:

In [2]:
(1 + 1)

2

In [4]:
(2 - 1)

1

In [5]:
(8*4)

32

In [6]:
(20/5)

4.0

In [7]:
(6 + 3 * 9 + 5)

38

In [8]:
14 % 3

2

In [9]:
4**2

16

In [10]:
15//4

3

# Variables:

In [14]:
age = 25
gender = 'Female'
name = 'jane'
print(age, gender, name)

25 Female jane

In [15]:
blood_type = 'AB-'
blood_type

'AB-'

In [16]:
age = age + 5
age

30

In [17]:
age -= 5
age

25

# Numeric Data Types:

In [19]:
x = 7
y = 3
z = x/y
print(z)
print(int(z))

2.3333333333333335
2

In [20]:
print(type(z))

<class 'float'>

In [21]:
2 + 3.5

5.5

# String Data Types:

In [22]:
food = 'Pie'
print(food)
print(type(food))

Pie
<class 'str'>

In [24]:
sentence = "\"Hey whatsup\" said the frog"
print(sentence)

"Hey whatsup" said the frog

In [29]:
dessert = 'ice cream'
meal = food + ", " + dessert
print(meal)
print(meal * 10)

Pie, ice cream
Pie, ice creamPie, ice creamPie, ice creamPie, ice creamPie, ice creamPie, ice creamPie, ice creamPie, ice creamPie, ice creamPie, ice cream

In [30]:
print(len(meal))

14

# Boolean Types:

In [31]:
is_this_true = True
is_this_false = False

In [37]:
comparision = 4 > 2 and 3 < 4
print(comparision)
water = False
fire = not water
print(fire)

True
True

# Methods:

In [38]:
name = 'Preetham'
print(name.upper())

PREETHAM

In [39]:
movie = "Fantastic Beasts and Where to Find Them"
split_movie = movie.split()
print(split_movie)

['Fantastic', 'Beasts', 'and', 'Where', 'to', 'Find', 'Them']

# Lists:

In [40]:
names = ['John', 'James', 'Jeff']
print(names[0])

John

In [41]:
mixed = [1, 'fruit', True, 2.5]
print(mixed[2])

True

In [42]:
length = len(mixed)
print(mixed[length - 1])
print(mixed[-1])
print(mixed[-3])

2.5
2.5
fruit

# Slicing:

In [43]:
ordered_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
print(ordered_numbers[2:10])
print(ordered_numbers[:9])
print(ordered_numbers[:-1])

[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
print(list(range(2,100,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [51]:
show = 'The Witcher'
print(show[2:-1])

e Witche

# Membership Operators:

In [54]:
months = ['January', 'February', 'March']
print('June' in months)
print('January' in months)
print('January' not in months)

False
True
False

# Mutability:

In [55]:
groceries = ['Milk', 'Chips', 'Vegetables', 'Soft Drinks']
groceries[1] = 'Toothpaste'
print(groceries)

['Milk', 'Toothpaste', 'Vegetables', 'Soft Drinks']

In [59]:
title = 'Captain America'
#title[9] = 'r'
new_title = title[:9] + "r" + title[10:]
print(new_title)

Captain Arerica

In [60]:
animal = 'Lion'
other_animal = animal
animal = 'Tiger'
print(animal)
print(other_animal)

Tiger
Lion

In [61]:
fruits = ['apple', 'orange', 'kiwi', 'peach']
vegetables = fruits
fruits[1] = 'tomato'
print(fruits[1])
print(vegetables)

tomato
['apple', 'tomato', 'kiwi', 'peach']

# List Methods and Functions:

In [62]:
numbers = [1, 2, 3, 5, 7, 8]
print(len(numbers))

6

In [66]:
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 2, 3, 5, 7, 8]

In [63]:
max(numbers)

8

In [67]:
drinks = ['coke', 'pepsi', 'sprite', 'fanta']
print(max(drinks))
print(min(drinks))
sorted_drinks = sorted(drinks)
print(sorted_drinks)

sprite
coke
['coke', 'fanta', 'pepsi', 'sprite']

In [68]:
' '.join(['My', 'Name', 'is', 'preetham'])

'My Name is preetham'

In [69]:
print('This {} was really {} to {}'.format('movie', 'fun', 'watch'))

This movie was really fun to watch

In [72]:
drinks.append('Gatorade')
print(drinks)

['coke', 'pepsi', 'sprite', 'fanta', 'Gatorade']

# Tuples:

In [71]:
co_ordinates = (2, 4, 9)
x, y, z = co_ordinates
print(x, y, z)

food, drink, snack = ('spaghetti', 'milk', 'chips')
print(food, drink, snack)

2 4 9
spaghetti milk chips

# Sets:

In [73]:
duplicate_numbers = {1, 1, 1, 4, 4, 4, 4, 6, 6, 7, 8, 8, 9, 9}
unique_numbers = set(duplicate_numbers)
print(unique_numbers)

{1, 4, 6, 7, 8, 9}

In [74]:
unique_numbers.add(10)
print(unique_numbers)

{1, 4, 6, 7, 8, 9, 10}

In [75]:
unique_numbers.add(1)
print(unique_numbers)

{1, 4, 6, 7, 8, 9, 10}

# Dictionaries:

In [77]:
inventory = {'bananas': 1.25, 'apples': 1.49, 'oranges': 1.69}
print(inventory['bananas'])

1.25

In [78]:
inventory['bananas'] = 2.25
print(inventory)

{'bananas': 2.25, 'apples': 1.49, 'oranges': 1.69}

In [79]:
bananas_price = inventory.get('bananas')
print(bananas_price)

2.25

In [80]:
strawberries_price = inventory.get('strawberries', 'Doesn\'t exist')
print(strawberries_price)

Doesn't exist

In [81]:
print('mango' in inventory)

False

# Compound Data Strucutres:

In [82]:
groceries = {'apples': {'price': 1.69, 'country of origin': 'United Kingdom'},
             'Mango': {'price': 2.29, 'country of origin': 'India'},
             'Bananas': {'price': 2.59, 'country of origin': 'Guatamela'}}
print(groceries['Mango'])

{'price': 2.29, 'country of origin': 'India'}

In [83]:
print(groceries['Mango']['country of origin'])

India

# Control Flow:

In [85]:
groceries = {'peaches': {'price': 1.99, 'country of origin': 'China'},
             'Avacado': {'price': 2.49, 'country of origin': 'Mexico'},
             'Grapes': {'price': 2.79, 'country of origin': 'Egypt'}}
item, price, origin = 'beans', 3.49, 'Mexico'
if item in groceries:
    print('Item Found')
    
elif price > 2.99:
    print('Too expensive for the inventory')
    
else:
    print('Item Not found')
    groceries.update({item: {'price': price, 'country of origin': origin}})
    print('Updated the list with {} item its price is {} and orgin of country is {}'.format(item, groceries[item]['price'], groceries[item]['country of origin']))

Too expensive for the inventory

# Complex Comparisions:

In [86]:
reynolds_number = 10000

if 2000 < reynolds_number < 10000:
    print("flow is transitional")

In [87]:
if reynolds_number <= 2000 or reynolds_number >= 10000:
    print("flow is not transitional")

flow is not transitional

# For Loops:

In [88]:
months = ['January', 'February', 'March']
for month in months:
    print(month)

January
February
March

In [89]:
for num in range(100):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
movies = {'Titanic': 1997, 'Finding Nemo': 2003}
for key, value in movies.items():
    print(key, value)

Titanic 1997
Finding Nemo 2003

# While Loop:

In [4]:
random_number = 20
while random_number <= 30:
    print(random_number)
    random_number += 1

20
21
22
23
24
25
26
27
28
29
30

In [6]:
numbers = list(range(10))
print(numbers)

for number in numbers:
    if number % 2 != 0:
        continue
    else:
        print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
2
4
6
8

# Functions:

In [7]:
def rectangle_area(length, width):
    return length*width

In [8]:
print(rectangle_area(10,2))

20

# Lambda and higher order Functions:

In [12]:
numbers = [1, 2, 3, 4, 5]
def even_or_odd(number):
    return number%2 == 0

print(list(filter(even_or_odd, numbers)))

[2, 4]

In [14]:
print(list(filter(lambda number:number % 2 == 0, numbers)))

[2, 4]